package $packageName;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.http.HttpEntity;
import org.springframework.http.HttpMethod;
import org.springframework.http.ResponseEntity;
import org.springframework.stereotype.Component;
import org.springframework.web.client.RestTemplate;

@Component
public class $className#if($superInterfaces) implements #foreach($interface in $superInterfaces)$interface#if( $foreach.hasNext ),#end#end#end {

    @Autowired
    private $clientFactoryClassName clientFactory;

#foreach($endpoint in $endpoints)
#if($endpoint.requestParam)
    #set($requestParamName = $writer.resolveTypeName($endpoint.requestParam, $types))
#end
#set($returnTypeName = $writer.resolveTypeName($endpoint.returnType, $types))
#set($returnTypeNameStr = "new org.springframework.core.ParameterizedTypeReference<$endpoint.returnType.getClassName()>{}")
#set($hasReturnType = $endpoint.hasReturnType())
    #parse("/templates/method_base.vm") {
        RestTemplate restTemplate = clientFactory.getRestTemplate();
        String baseUrl = clientFactory.getBaseUrl();
#if($endpoint.httpMethod == "POST")
## POST
        ResponseEntity<$returnTypeName> response = restTemplate.postForEntity(baseUrl + "$endpoint.url", requestObject, $returnTypeNameStr);
#if($hasReturnType)
        return response.getBody();
#end
#elseif($endpoint.httpMethod == "PUT")
## PUT
#if($hasReturnType)
        ResponseEntity<$returnTypeName> response = restTemplate.exchange(baseUrl + "$endpoint.url", HttpMethod.PUT, new HttpEntity<>(requestObject), $returnTypeNameStr);
        return response.getBody();
#else
        restTemplate.put(baseUrl + "$endpoint.url", requestObject);
#end
#elseif($endpoint.httpMethod == "DELETE")
## DELETE
#if($hasReturnType)
        ResponseEntity<$returnTypeName> response = restTemplate.exchange(baseUrl + "$endpoint.url", HttpMethod.DELETE, new HttpEntity<>(requestObject), $returnTypeNameStr);
        return response.getBody();
#else
        restTemplate.delete(baseUrl + "$endpoint.url");
#end
#else
## GET (also default in case method type is missing...)
#if($hasReturnType)
        ResponseEntity<$returnTypeName> response = restTemplate.getForEntity(baseUrl + "$endpoint.url", $returnTypeNameStr);
        return response.getBody();
#else
        restTemplate.getForEntity(baseUrl + "$endpoint.url", $returnTypeNameStr);
#end
#end
    }

#end
}
