package $packageName;

public interface $interfaceName {

#foreach($endpoint in $endpoints)
#if($endpoint.requestParam)
    #set($requestParamName = "$writer.resolveTypeName($endpoint.requestParam, $types)")
#end
#set($returnTypeName = "$writer.resolveTypeName($endpoint.returnType, $types)")
    #parse("/templates/method_base.vm");

#end
}
