#if($requestParamName)$requestParamName requestObject#if($endpoint.pathParams), #end#end
#if($endpoint.pathParams)
#foreach($pathParam in $endpoint.pathParams)
$writer.resolveTypeName($pathParam.type, $types) $pathParam.name#if( $foreach.hasNext ), #end
#end
#end