#parse("/templates/method_base.vm") {
        RestTemplate restTemplate = clientFactory.getRestTemplate();
        String baseUrl = clientFactory.getBaseUrl();
#if($hasReturnType)
        ResponseEntity<$returnTypeName> response = restTemplate.exchange(baseUrl + "$endpoint.url", HttpMethod.$endpoint.getHttpMethodDisplayName(), new HttpEntity<>(requestObject), $returnTypeNameStr);
        return response.getBody();
#else
        restTemplate.exchange(baseUrl + "$endpoint.url", HttpMethod.$endpoint.getHttpMethodDisplayName(), new HttpEntity<>(requestObject), Void.class);
#end
    }
